s{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    opacity: 1;

}

section.filters button:hover {
    opacity: .9;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding-left: 50px;
}

.amenities{
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

h3{
    font-weight: 600;
    margin: 12px 0 5px 0;
}

h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
}
