.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color:  white;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    opacity: 1;
}

section.filters button:hover {
    opacity: .9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: #DDDDDD solid 1px;
    padding-left: 50px;
}

.amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

h3 {
    font-weight: 600;
    margin: 12px 0 5px 0;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
}


.popover {
    margin-top: 17px;
    display: none;
    position: relative;
    margin-left: -50px;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 30px 50px 30px 0;
    z-index: 1;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.locations .popover ul {
    list-style-type: none;
    padding-left: 50px;
    padding-top: 5px;
}

.locations .popover li {
    margin-left: 30px;
    list-style: none;
}

.locations .popover li > ul > li {
    margin-left: -30px;
    margin-bottom: 10px;
}

.amenities .popover li {
    margin-left: 50px;
    list-style: none;
    margin-top: 5px;
}
