section.places h2{
    font-size: 30px;
}

section.places h1{
    font-size: 30px;
    padding-left: 20px;
    flex: 100%;
}

section.places{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

section.places article{
    display: flex;
    width: 40%;
    padding: 0px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    justify-content: center;
}
